body
{
	margin: 5px;
	padding: 10px;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
}

#header
{
	margin: 0;
	padding: 0;
}

#content
{
        margin: 10px 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
}

#block
{
        padding-top: 25px;
        margin: 5px;
}

#sidebar
{ 
	padding: 20px 20px 20px 0;
}

#footer
{
        margin: 10px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
        font:   bold 22pt Arial,Helvetica,sans-serif;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
}

.menuleft1
{
    position: relative;
    float: right;
}

#mainmenu
{
	background:white url('img/bg.gif') repeat-x left top;

        -webkit-box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.15);
           -moz-box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.15);
                box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.15);
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
        
        

}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:9px 8px;
        

}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;

        -webkit-box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.1);
           -moz-box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.1);
}

.error
{
        padding: 10px;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background: white;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.imagepreview 
{
        padding: 5px 5px 5px 5px;
}
/* Отображение миниатюр */
.imagepreview img 
{
        width:600px;
        border: 1px solid #6399cd;
}
/* Выделение миниатюры при наведении */
.imagepreview img:hover 
{
        cursor: pointer;
}
/* Скрытый контейнер с большим изображением */
#img_container 
{
        position: absolute;
        display: none;
        left: 0%;
        z-index: 999;
}
/* Бордюр изображения */
#img_container img 
{
    border: 10px solid #ddd;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#usernamebar
{
    padding-left: 3px;
    padding-right: 3px;
    float: right;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow:  0px 7px 7px rgba(0, 0, 0, 0.1);
        -moz-box-shadow:  0px 7px 7px rgba(0, 0, 0, 0.1);
            box-shadow:  0px 5px 5px rgba(0, 0, 0, 0.1);
}

#documentspanel
{
    width: 300px;
    height: 50px;
    border-bottom: 1px solid #6399cd;
    background-color:  #FFFFFF;
}
#documentspanel img
{

}
#documentspanel a:hover img
{
    -moz-box-shadow:    3px 3px 5px 6px rgba(82, 168, 236, 0.6);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(82, 168, 236, 0.6);
    box-shadow:         3px 20px 20px -10px rgba(82, 168, 236, 0.6);
}
#mtreeview
{
    width: 250px;
    border: 1px solid #6399cd;
    float:left; 
    overflow: auto; 
    height: 560px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
          border-radius: 4px;
}

#mtreeview-target
{
    position: relative;
    margin-left: 260px;
    padding-left: 20px;
}

#mtreeview-buttons
{
    width: 250px;
    float: bottom;
    top: 655px;
}

#HelptreeViewContent.fix
{
    height: 400px;
}  

#HelptreeViewContent
{
    overflow: auto;
    padding: 10px;  
        
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}  

#HelptreeTitle
{
    text-align:left;
    margin-top: 20px;
}

.list_box
{
    width: 600px;
}

.button_box
{
    margin-top: 10px; 
    margin-bottom: 10px
}

.Mynavbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 20px;
  overflow: visible;
}

.Mynavbar-inner
{

          
          
    background:white url('img/bg.gif') repeat-x left top;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.Mynavbar .btn-Mynavbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 50px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ededed;
  *background-color: #e5e5e5;
  background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
  background-repeat: repeat-x;
  border-color: #e5e5e5 #e5e5e5 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

div.ui-tooltip {
    max-width: 100px;
}


#main-quiz-holder {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(252, 252, 252);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(222, 222, 222);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgb(222, 222, 222);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgb(222, 222, 222);
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: rgb(222, 222, 222);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 5px rgb(217, 217, 217), 0 10px 20px rgb(241, 241, 241) inset;
    font-family: "Myriad","Myriad Pro","Helvetica","Segoe UI","Lucida Sans Unicode","Lucida Grande",sans-serif;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: relative;
    width: 600px;
}

.hide 
{
    display: none;
}

.questionContainer 
{
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    min-height: 400px;
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    width: 560px;
}

.questionContainer ul.answers {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.questionContainer ul.answers li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(246, 246, 246);
    background-image: -moz-linear-gradient(center top , rgb(246, 246, 246), rgb(212, 212, 212));
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(161, 161, 161);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgb(161, 161, 161);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgb(161, 161, 161);
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: rgb(161, 161, 161);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 0 6px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.4);
    color: rgb(76, 76, 76);
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.questionContainer ul.answers li.selected 
{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(111, 178, 229);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    box-shadow: 0 1px 5px rgb(0, 97, 170), 0 10px 20px rgb(182, 249, 255) inset;
}

.questionContainer .question, h2.qTitle {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}

.question 
{
    line-height: 1.3em;
    padding-left: 20px;
}

.questiontext
{
    background-origin: padding-box;
    background-color:  #E6F2FF;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.questiontext h5
{
    margin: 10px;
}
.questionblock
{

}

.answer
{
    margin: 5px;
    font-size: 15px;
}

.answerblock
{
        -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(246, 246, 246);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(161, 161, 161);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgb(161, 161, 161);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgb(161, 161, 161);
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: rgb(161, 161, 161);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 0 6px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.4);
    color: rgb(76, 76, 76);
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

#scrollupbutton
{
    opacity: 0.8; 
    position: absolute; 
    top: 456px; 
    right: 0px; 
    display:none;
}
.scroll-to-top-button{
	background: #666 url('img/upload.png') center center no-repeat;
	width: 32px;
	height: 32px;
	color: #fff;
	font-family: verdana;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	cursor: pointer;
	padding: 15px;
	margin: 20px;
}

#wideView {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url('img/buttons.png');
    background-origin: padding-box;
    background-position: 0 -20px;
    background-repeat: no-repeat;
    background-size: auto auto;
}
#wideView:hover {
    background-position: -30px -20px;
}
#wideView.fix {
    background-position: 0 0;
}
#wideView.fix:hover {
    background-position: -30px 0;
}
.toolbox {
    float: right;
    margin-left: 10px;
}
.toolbox a {
    float: right;
    height: 20px;
    width: 30px;
}

#countdown_dashboard 
{
    border-radius: 5px;
    font: bold 18pt Verdana;
    opacity: 0.1; 
    position: absolute; 
    top: 100px; 
    right: -60px; 
    width: 138px;
    height: 96px;
    float: right;
    margin-left: 2px;
    padding-left: 13px;
    color: #333;
}
#countdown_dashboard:hover
{
    opacity: 0.9; 
    right: 0px; 
}

.dash {
        border-radius: 5px;
	width: 138px;
	height: 96px;
	background: transparent url('img/dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 2px;
	padding-left: 13px;
	position: relative;
	color: #333;
}

.hours_dash {
	clear: left;
	background: transparent url('img/dark_hours_dash.png') 0 0 no-repeat;
}

.minutes_dash {
	background: transparent url('img/dark_minutes_dash.png') 0 0 no-repeat;
}

.seconds_dash {
	background: transparent url('img/dark_seconds_dash.png') 0 0 no-repeat;
}

.dash .digit {
	font: bold 52pt Verdana;
	font-weight: bold;
	float: left;
	width: 59px;
	text-align: center;
	position: relative;
}

.dash_title {
	display: none;
}

.wrong_answer_cell{
    background-color: #FFA0A2;
}

.right_answer_cell{
    background-color: #C6D880;
}